# Lab 9: Tables and Visualizing Distributions

Welcome to lab 9!  This week, we'll learn about *tables*, which let us work with multiple arrays of data about the same thing, and we'll learn about *histograms* - a way to visualize distributions. 

First, set up the tests and imports by running the cell below.

In [ ]:
import numpy as np
from datascience import *

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
Table.interactive_plots()

# These lines load the tests.
import otter
grader = otter.Notebook()

## 1. Histogram Review

Histograms show the distribution of a single quantitative variable, where the values of the variable are located on the x-axis and the density or count is placed on the y-axis. The width of each bar is defined by the size of the bins [A, B) where the value A is included in the bin but B is not. Given the properties of histograms, we cannot determine the distribution of data within a specific bin.

Normally, we are used to using the count scale on the y-axis, which shows the number of values within a bin. However, the issue with this is that charts become misleading once bins have different widths, so we will use the *density* scale, measured in "percent per unit", which shows us the number of values within a bin. This allows us to meet the two defining characteristics of a histogram:

1) Bins are drawn to scale and are contiguous, though some might be empty, because the values on the horizontal axis are numerical

and 

2) The **area** of each bar is proportional to the number of entries in the bin. So, assuming we add all of the bars in a histogram together, the total area is 100%, or in terms of proportions, the areas of all of the bars will sum to 1. 

Therefore, under those properties, the **area of a bar = percent of entries in bin = height of bar * width of bin.**

Doing some algebra, we find that **height of the bar = area of bar / width of bin = percent of entries in bin / width of bin** which gives us the density.

For the following section, use the histogram below using national parks data.

![](national_parks_histogram.JPG)

#### Question 0

For each quantity listed below, either calculate its value using the histograms, or write *Unknown* if it is not possible to calculate the value numerically given the information we have.
1. The **percentage** of parks that are less than 100 thousand acres in size.
2. The **percentage** of parks that are between 200 and up to (but not including) 400 thousand acres in size.
3. The **percentage** of parks that are less than 150 acres in size.
4. The **percentage** of parks that are at least 1200 thousand acres in size.

*Write your answer here, replacing this text.*

1.

2.

3.

4.

## 2. Modifying Tables

Tables are very useful for storing data, as each row represents an individual and each column represents an attribute or characteristic about all of the individuals in the dataset. However, sometimes, we may have too much data or data unnecessary for our analysis in a single dataset - therefore, we need to select what data we want, which is especially important given the limits of computing power (in our case: 1024 mb, as seen in the kernel in the top right corner).  

We can use the `select` method to select what columns we want. `tbl.select("label1", "label2", ...)` takes the labels of columns we want in our table as inputs and outputs a table with those specific columns. 

For this next section, the `farmers_markets` table has a lot of data.

In [ ]:
## Run this cell.
farmers_markets = Table.read_table("farmers_markets.csv")
farmers_markets.show(5) ## This shows 5 rows in the table.

For example: if I only want to see whether a farmer's market has tofu, pet food, and grains, I can do that by using `select`:

In [ ]:
farmers_markets.select("Tofu", "PetFood", "Grains")

** Question 1. ** Suppose that we have a table of data about hate crimes among the 50 states, and we think that there is a possible correlation between levels of education and crimes of this type. In this analysis, we will compare the number of hate crimes versus the population in that state that has a high school degree. 

This dataset from FiveThirtyEight includes information about crime in areas from the Southern Poverty Law Center and FBI on a state level.

The dataset is called `hate_crimes.csv` and it is located in your lab directory with the notebook. Using the `Table.read_table()` function, which takes in the name of the file as a string (including the `.csv`), assign the name `hate_crimes` to a table containing the dataset.

In [ ]:
hate_crimes = Table.read_table(...)
hate_crimes.show(10)

#### Question 2
Create a new table using `hate_crimes` that includes four columns: `share_population_with_high_school_degree`, `gini_index`, `hate_crimes_per_100k_splc`, and `avg_hatecrimes_per_100k_fbi` in that order. Do this with `select` function and make sure you type the column names correctly! 

(You might have to explore the table a bit to see what columns to select.)

**Note:** The Gini Index is a measure of income inequality. Higher values of the Gini coefficient imply more inequality within that area.

In [ ]:
hsdegree_vs_hcrimes = 
hsdegree_vs_hcrimes

In [ ]:
grader.check("q2")

You may have noticed that that the titles of these columns have a lot of underscores. Lets change that! 

We can use the `tbl.relabel("old_label", "new_label")` function, which takes in two arguments - one that specifies which column we're trying to relabel and another one that specifies the new name. `Relabel` is nice in that it modifies the original table, so you do not need to reassign it to a new variable each time unlike with `tbl.select()`.

#### Question 3
Let's relabel the first column to  `Population Share with a high school degree`, the second column to `Gini index`, the third column to `Hate Crimes per 100k, SPLC`, and the fourth column to `Hate Crimes per 100k, FBI`. Make sure the name of the table, `hsdegree_vs_hcrimes`, remains the same.

In [ ]:
#Relabel the columns here!
...
...
...
...

In [ ]:
grader.check("q3")

#### Question 4: Dropping Columns

In order to get rid of columns we can use the `tbl.drop` method. `tbl.drop("column1_to_drop, "column2_to_drop", ...)` takes column names as inputs and removes them from the specified table. 

Graph four scatter plots using `tbl.scatter("x", "y")`: the population share with a high school degree versus the SPLC data on hate crimes, population share versus FBI data, gini index versus SPLC data, and gini index versus FBI data. Do this by dropping the columns we do not want to use from `hsdegree_vs_hcrimes` and assigning the new table to the appropriate table name. 

What associations or patterns do you see? Discuss in the Markdown cell below and with your classmates or a TA.

*Note:* If your notebook is struggling to make the graphs, try to make them in separate cells or run each separately by commenting out the other graphs with #.

In [ ]:
#Make the tables here:
pop_versus_splc = ...
pop_versus_fbi = ...
gini_versus_splc = ...
gini_versus_fbi = ...

# Make the scatter plots here!
...
...
...
...

*What do you see? Discuss your answers here.*

## 3. Filtering Tables

We explored the entirety of the previous data set. But what if we wanted to explore a smaller portion of a larger set of data? We can use the `tbl.where("column", are...())` method, which takes two arguments, the column label to filter and the method/predicate to filter the values with. If we do not specify a predicate, it will default to `are.equal_to`. It will return a table with the same columns and containing only the rows that meet the condition we specified.

We used this in the previous lab, but we will go more in depth here.

For example, if we remember the farmer's markets from part 1, suppose that we only want to see the farmer's markets that sell wine:

In [ ]:
farmers_markets.where("Wine", are.equal_to("Y"))

The `are` predicate is used to pick and choose rows. The `.equal_to` are method selects rows that equal a certain value, which in our case was the string Y. 

Other `are` methods include: `are.below` which selects rows that are below some value, `are.above`, which selects rows that are above some values, `are.above_or_equal_to`, `are.below_or_equal_to`, `are.between`, and `are.not_above`, etc.

The US National Oceanic and Atmospheric Administration (NOAA) operates thousands of climate observation stations (mostly in the US) that collect information about local climate.  Among other things, each station records the highest and lowest observed temperature each day.  These data, called "Quality Controlled Local Climatological Data," are publicly available [here](http://www.ncdc.noaa.gov/orders/qclcd/) and described [here](https://www.ncdc.noaa.gov/data-access/land-based-station-data/land-based-datasets/quality-controlled-local-climatological-data-qclcd).

We've provided you with an excerpt of that dataset.  All the readings are from 2015 and from California stations.

In [ ]:
temperatures = Table.read_table("temperatures.csv")
temperatures

**Question 5.** Each station is named for the city in which it resides.  Is there a station in Berkeley?  Write code to help you answer the question in the next cell. Then, in the Markdown cell after that, answer if there is a station in Berkeley along with **an explanation in words** of what your code does.

*Hint:* Use the Table method `.where`. Which column should you filter? Explore the table!

In [ ]:
berkeley_readings = ...
berkeley_readings

*Write your answer here, replacing this text.*

Let's find the station closest to the UC Berkeley campus.  The campus is located roughly at latitude 37.871746 and longitude -122.259030.  We'll break this down into a few steps.

**Question 6.** Create a table called `with_degree_differences` that's the same as `temperatures`, but with 2 extra columns:

1. "Latitude difference": The difference between the latitude of the row's station and the latitude of UC Berkeley.
2. "Longitude difference": The difference between the longitude of the row's station and the longitude of UC Berkeley.

*Hint:* We can add columns to an existing table by using the method `tbl.with_columns("column_name1", array1, "column_name2", array2, ...)`. However, the arrays added must be the same length as the columns in the table (i.e. the array length is equal to the number of rows), or else it will give you an error. Try using array arithmetic for this question!

In [ ]:
# We've provided the lat/long of UC Berkeley so you don't have to retype them:
BERKELEY_LATITUDE = 37.871746
BERKELEY_LONGITUDE = -122.259030

with_degree_differences = ...
    ...
    ...
with_degree_differences

In [ ]:
grader.check('q6')

**Question 7.**  Degrees latitude and longitude don't correspond directly to distances, because the Earth is a sphere.  Near Berkeley, one degree latitude is around 69 miles and one degree longitude is around 54.6 miles, according to the USGS. Compute a table called `with_mile_differences` that's the same as `with_degree_differences` but with 2 extra columns:

1. "North-South difference": The difference in miles between UC Berkeley and the row's station along the North-South axis.  This is the difference in latitude times 69.
2. "East-West difference": The difference in miles between UC Berkeley and the row's station along the East-West axis.  This is the difference in latitude times 54.6.

In [ ]:
MILES_PER_DEGREE_LATITUDE = 69
MILES_PER_DEGREE_LONGITUDE = 54.6
with_mile_differences = ...
    ...
    ...
with_mile_differences

In [ ]:
grader.check('q7')

**Question 8.** Compute the distance from UC Berkeley to each row's station.  By the Pythagorean theorem, the distance is:
$$\sqrt{(\text{North-South difference (miles)})^2 + (\text{East-West difference (miles)})^2}$$

Create a table called `with_distances` that's the same as `with_mile_differences`, but with an extra column called "Distance to UC Berkeley" containing these distances.

*Hint:* Use elementwise arithmetic operations to square each difference, add them, and square-root them.

In [ ]:
with_distances = ...
with_distances

In [ ]:
grader.check('q8')

**Question 9.** Sort the table by distance to find the station that's closest to Berkeley.  Find the name of the station and assign it to `closest_station_name`.

To sort a table, we can use the function `tbl.sort("column_to_sort", descending = True/False)`, which takes in the name of the column you would like to sort by and an optional argument `descending` which defines the direction of the sort. (You'll need to do more than sort to answer this question, however!)

In [ ]:
closest_station_name = ...
closest_station_name

In [ ]:
grader.check('q9')

**Question 10.** Make a table called `closest_station_readings`.  It should be a table like the original `temperatures` table, except it should contain only the rows from the station closest to Berkeley you found in the previous question. Sort it in increasing order by date. 

*Hint:* What table methods do you need to answer this question? What order do they need to be in?

In [ ]:
closest_station_readings = ...

# This prints out your whole table (with unnecessary columns removed).
closest_station_readings.select(2, 1, 0).show()
# This code makes a plot of the highs and lows over time in your table,
# which is easier to read than the raw numbers.  You don't need to modify
# this.
closest_station_readings.scatter(2, make_array(0, 1))

In [ ]:
grader.check('q10')

**Question 11.** From the graph, can you figure out the hottest and coldest months in 2015, in terms of the average minimum temperature?  (If it looks like there's a tie, name all the months that might qualify.  If you can't answer the question from these data, explain why.)

*Write your answer here, replacing this text.*

## 4. Review

For your reference, here's a table of the functions and methods we saw in this lab and some additional ones that you might find useful.

|Name|Example|Purpose|
|-|-|-|
|`sort`|`tbl.sort("N")`|Create a copy of a table sorted by the values in a column|
|`where`|`tbl.where("N", are.above(2))`|Create a copy of a table with only the rows that match some *predicate*|
|`are.above`| `...are.above(2)`| Predicate: Creates a table with rows that are above some value for a certain column|
|`are.below`| `...are.below(2)`| Predicate: Creates a table with rows that are below some value for a certain column|
|`are.above_or_equal_to`| `...are.above_or_equal_to(2)`| Predicate: Greater than or equal to some value|
|`are.below_or_equal_to`| `...are.below_or_equal_to(2)`| Predicate: less than or equal to some value|
|`are.between`| `...are.between(2, 3)`| Predicate: Greater than or equal to first number and less than or equal to second| 
|`are.not_equal_to`|`...are.not_equal_to(2)`| Predicate: Not equal to some value|
|`select`|`tbl.select("N")`|Create a copy of a table with only some of the columns|
|`drop`|`tbl.drop("2*N")`|Create a copy of a table without some of the columns|
|`take`|`tbl.take(np.arange(0, 6, 2))`|Create a copy of the table with only the rows whose indices are in the given array|
|`barh`|`tbl.barh('vehicles')`|Create a bar chart with the specified column as the categories|
|`scatter`|`tbl.scatter("pop","splc")`|Create a scatter plot with the first column as the X axis and the second column as the y axis

<br/>

## Submission
You're done with this lab!

To submit this notebook, please download your notebook as a .ipynb file and submit to Gradescope. You can do so by navigating to the toolbar at the top of this page, clicking File > Download as... > Notebook (.ipynb). Then, go to our class's Gradescope page [here](https://www.gradescope.com/courses/136698) and upload your file under "Lab 9." 

To check your work for all autograded questions, run the cell below. 

It's fine to submit multiple times, but we will only grade the final notebook you submit for each assignment. Make sure you pass all tests to receive credit.

In [ ]:
# For your convenience, you can run this cell to run all the tests at once!
grader.check_all()