## Review: What are the values?  Types?

In [ ]:
#Review Question: Let's randomly select your grade. 
GPA = 0
letters = [A, B, C]
grade = np.random.choice(letters)
if ??? ??? "A":
    GPA = ...
elif ??? ??? "B":
    ...
???

In [ ]:
("Lady " + "aa".replace("a", "ba").replace("b", "g").capitalize())

In [ ]:
float('1.2' + '3') + 4

## Lists

In [ ]:
["cat", "dog", "bird", "lizard"]

In [ ]:
#How do I get 26? 
test_list = [26, 45, 32, 19, 99, 45, 51]
test_list[]

In [ ]:
#List splicing
test_list[:]

In [ ]:
# List addition?
test_list * 2

## Arrays

In [ ]:
from datascience import *

In [ ]:
make_array(20.11, 88.05, 11.50)

In [ ]:
receipts = make_array(20.11, 88.05, 11.50)

In [ ]:
receipts

In [ ]:
## This is some temperature data, with variation each day from a baseline temperature.
baseline_high = 14.48
highs = make_array(baseline_high - 0.880, baseline_high - 0.093, baseline_high + 0.105, baseline_high + 0.684)

### Indexing

In [ ]:
highs.item(0)

In [ ]:
highs.item(1)

In [ ]:
highs.item(2)

In [ ]:
highs.item(3)

In [ ]:
highs.item(4)

### Other operations

In [ ]:
len(highs)

In [ ]:
sum(highs)

In [ ]:
import numpy as np
np.mean(highs)

In [ ]:
sum(highs) / len(highs)

In [ ]:
np.median(make_array(1, 2, 2000))

In [ ]:
np.mean(make_array(1, 2, 2000))

In [ ]:
np.diff(highs)

In [ ]:
## Discussion Question
np.diff(receipts).item(len(receipts) - 2)

### Arithmetic on arrays

In [ ]:
receipts = make_array(20.11, 88.05, 11.50)
original_bills = receipts / 1.15
tips = original_bills * .15

In [ ]:
original_bills

In [ ]:
tips

## Ranges

In [ ]:
np.arange(0, 5) # Defaults

In [ ]:
np.arange(0, 5, 1)

In [ ]:
np.arange(0, 5, 2) # Counting by an amount

In [ ]:
np.arange(0, 6, 2) # Stopping before the stop point

In [ ]:
np.arange(0, 7, 2)

In [ ]:
np.arange(.5, 1.5, .25)

In [ ]:
np.arange(5)

In [ ]:
years = np.arange(1850, 2050, 50) # The collection years for the temperature data
years

In [ ]:
sum(np.arange(2, 203, 3)) # Sum of numbers from 2 to 200, including 200